aiogram==2.22.2
aiogram_calendar
aiohttp==3.8.3
aiosignal
async-timeout
aioschedule
asyncio
asyncpg
attrs
Babel
certifi==2022.9.24
charset-normalizer
frozenlist
greenlet
idna
multidict
pytz==2022.4
yarl
requests
xmltodict
bs4
psycopg2
pexels_api
logging
sqlite3